datadog:
  # The site of the Datadog intake to send Agent data to (example: `us3.datadoghq.com`)
  # Default value is `datadoghq.com' (the US1 site)
  site: datadoghq.com
  clusterName: <your-cluster-name>
  apiKeyExistingSecret: "datadog-secret"
  clusterChecks:
    enabled: true
  orchestratorExplorer:
    enabled: true
  kubelet:
    useApiServer: true
  tags:
    - "env:dev"

  apm:
    portEnabled: true
    socketEnabled: false
    port: 8126
    instrumentation:
      enabled: true # change to false to disable SSI
      disabledNamespaces: # (optional) option 1 - disable SSI based on namespaces
        - "no-ssi"
      targets:
        - name: "default-target" # this is just a metadata, can be any name
          namespaceSelector:
            matchNames:
              - "all-language-ssi" # (optional) option 2: enable SSI based on the namespace of your choice, datadog will instrument all the services in this namespace
          ddTraceVersions:
            java: "1"
            python: "4"
            js: "5"
            php: "1"
            dotnet: "3"
            ruby: "2"
          # ddTraceConfigs:
          #   - name: "DD_PROFILING_ENABLED" ## profiling is enabled for all services in this namespace
          #     value: "true"
          #   - name: "DD_LOGS_INJECTION"
          #     value: "true"
        # - name: "only-selected-pods" # this is just a metadata, can be any name
        #   namespaceSelector:
        #     matchNames:
        #       - "app2-namespace" # (optional) option 2: enable SSI based on the namespace of your choice, datadog will instrument all the services in this namespace
        #   podSelector: # (optional) option 3: enable SSI based on pod labels (workload selection - recommended)
        #     matchLabels: # MUST match labels in the Deployment manifest at two places: metadata.labels & spec.template.metadata.labels
        #       # app: "app2"
        #       # datadoghq.com/apm-instrumentation: "enabled"
        #   ddTraceVersions:
        #     java: "1"
  processAgent: # live process monitoring feature
    processCollection: true

clusterAgent:
  enabled: true
  resources:
    requests:
      cpu: 500m # Autopilot minimum
      memory: 1Gi

  # https://github.com/DataDog/integrations-core/blob/master/postgres/datadog_checks/postgres/data/conf.yaml.example#L691
  confd: # example integration check for postgres
    postgres.yaml: |-
      cluster_check: true
      init_config:
      instances:
      - dbm: true
        host: '<your-postgres-host-ip-address>'
        port: 5432
        username: datadog
        password: '<your-postgres-password>'
        gcp:
          project_id: '<your-gcp-project-id>'
          instance_id: '<your-gcp-instance-id>'

agents:
  # image:
  #   tag: 7.74.0
  containers:
    agent:
      resources:
        requests:
          cpu: "200m"
          memory: "256Mi"
    traceAgent:
      resources:
        requests:
          cpu: "100m"
          memory: "200Mi"
    processAgent:
      resources:
        requests:
          cpu: "100m"
          memory: "200Mi"
    systemProbe:
      resources:
        requests:
          cpu: "100m"
          memory: "400Mi"
  priorityClassCreate: true

clusterChecksRunner:
  enabled: true
  # resources:
  #   requests:
  #     cpu: 1
  #     memory: 2Gi
  #   limits:
  #     cpu: 1
  #     memory: 2Gi

providers:
  gke:
    autopilot: true
